<div class="min-h-screen flex justify-center bg-base-200">
    <div class="card bg-base-100 shadow w-full max-w-sm">
        <div class="card-body gap-4">
            <h2 class="card-title font-tiny5-regular text-info uppercase">
                Add new freezer
            </h2>
            <form
                hx-post="/freezers"
                hx-target="body"
                hx-swap="innerHTML"
                class="mb-4 flex flex-col gap-2"
            >
                <input
                    name="label"
                    placeholder="Freezer label"
                    required
                    class="input input-bordered w-full"
                >
                <input
                    name="tray_count"
                    type="number"
                    min="1"
                    placeholder="Number of trays"
                    required
                    class="input input-bordered w-full"
                >
                <button
                    type="submit"
                    class="btn btn-sm btn-info uppercase self-end w-auto px-4"
                >
                    Add
                </button>
            </form>
        </div>
    </div>
</div>
