<li
    id="item-{{ id }}"
    draggable="true"
    data-item-id="{{ id }}"
    class="grid items-center gap-x-2"
    style="grid-template-columns: auto auto 1fr;"
>
    <span class="cursor-grab text-base-content/40 select-none">⠿</span>
    <div class="flex">
        <button
            type="button"
            hx-post="/freezers/items/{{ id }}/decrement"
            hx-target="#item-{{ id }}"
            hx-swap="outerHTML"
            class="btn btn-sm rounded-r-none"
        >
            -
        </button>
        <span
            class="btn btn-sm rounded-none border-x-0 bg-white font-mono w-[2ch] pointer-events-none"
            >{{ quantity }}</span
        >
        <button
            type="button"
            hx-post="/freezers/items/{{ id }}/increment"
            hx-target="#item-{{ id }}"
            hx-swap="outerHTML"
            class="btn btn-sm rounded-l-none"
        >
            +
        </button>
    </div>
    <div
        class="flex justify-between md:justify-start items-baseline gap-2 min-w-0"
    >
        <span>{{ name }}</span>
        <span
            class="text-xs text-base-content/40 whitespace-nowrap pl-2 js-timestamp {{ tray_item_style }}"
            data-iso="{{ added_at_iso }}"
            data-humanized="{{ added_at }}"
            >{{ added_at }}</span
        >
    </div>
</li>
