<details
    class="collapse collapse-arrow bg-base-100 border border-base-300 join-item"
    data-tray-id="{{ tray_id }}"
    open
>
    <summary
        class="collapse-title font-semibold"
        style="background: linear-gradient(to bottom, #d5d7db, #ffffff);"
    >
        {{ tray_label }}
    </summary>
    <div class="collapse-content">
        <ul id="tray-{{ tray_id }}" class="mb-3 space-y-2">
            {{ items }}
        </ul>
        <form
            hx-post="/freezers/trays/{{ tray_id }}/items"
            hx-target="#tray-{{ tray_id }}"
            hx-swap="innerHTML"
            class="flex gap-2 w-fit"
        >
            <input
                name="name"
                placeholder="New item..."
                class="input input-bordered input-sm flex-1"
            >
            <button type="submit" class="btn btn-sm btn-info">ADD</button>
        </form>
    </div>
</details>
