<div class="my-3">
    <pre
        class="font-mono text-sm leading-snug border-s-2 border-info px-2 mx-4"
    >Kitchen
 └── <a
     href="/freezer"
     hx-get="/freezer"
     hx-target="#applet"
     hx-push-url="true"
     class="text-blue-700 underline"
     ><i class="bi bi-snow pe-1"></i>Freezer</a
 ></pre>
</div>

<div class="my-3">
    <pre
        class="font-mono text-sm leading-snug border-s-2 border-info px-2 mx-4"
    >Living Room
 └── <a
     href="/jennflix"
     hx-get="/jennflix"
     hx-target="#applet"
     hx-push-url="true"
     class="text-blue-700 underline"
     ><i class="bi bi-film pe-1"></i>Jennflix</a
 ></pre>
</div>
