<div class="min-h-screen flex justify-center bg-base-200">
    <div class="card bg-base-100 shadow w-full max-w-sm">
        <div class="card-body gap-4">
            <h2 class="text-2xl mb-2">Add new title</h2>
            <form
                method="POST"
                action="/jennflix/titles"
                class="mb-4 flex flex-col gap-2"
            >
                <input
                    name="title"
                    placeholder="Title"
                    required
                    class="input input-bordered w-full"
                >
                <input
                    name="imdb_url"
                    placeholder="IMDB URL"
                    required
                    class="input input-bordered w-full"
                >
                <input
                    name="tags"
                    placeholder="Tags"
                    class="input input-bordered w-full"
                >
                <input
                    name="poster_path"
                    placeholder="/jennflix/posters/firefly.jpg"
                    class="input input-bordered w-full"
                >
                <button
                    type="submit"
                    class="btn btn-sm bg-red-600 text-white rounded-md uppercase self-end w-auto px-4"
                >
                    Add
                </button>
            </form>
        </div>
    </div>
</div>
