<div class="min-h-screen flex justify-center items-start py-6">
    <div class="card bg-base-100 shadow w-full max-w-sm">
        <div class="card-body gap-4">
            <h2 class="text-2xl mb-2">Add new title</h2>
            <form
                method="POST"
                action="/jennflix/titles"
                hx-post="/jennflix/titles"
                hx-target="#applet"
                hx-push-url="false"
                hx-replace-url="/jennflix"
                class="mb-4 flex flex-col gap-2"
            >
                <input
                    name="title"
                    placeholder="Title"
                    required
                    class="input input-bordered w-full"
                >
                <input
                    name="imdb_url"
                    placeholder="IMDB URL"
                    required
                    class="input input-bordered w-full"
                >
                <fieldset class="flex flex-col gap-2">
                    <legend class="text-sm font-iter pb-1">Media type</legend>
                    <div class="join">
                        <input
                            id="media-type-film"
                            type="radio"
                            name="media_type"
                            value="film"
                            class="sr-only"
                            checked
                        >
                        <label
                            for="media-type-film"
                            class="btn btn-sm join-item rounded-l-md"
                        >
                            Film
                        </label>
                        <input
                            id="media-type-tv"
                            type="radio"
                            name="media_type"
                            value="tv"
                            class="sr-only"
                        >
                        <label
                            for="media-type-tv"
                            class="btn btn-sm join-item rounded-r-md"
                        >
                            TV
                        </label>
                    </div>
                </fieldset>
                <input
                    name="tags"
                    placeholder="Tags"
                    class="input input-bordered w-full"
                >
                <fieldset class="flex flex-col gap-2">
                    <legend class="text-sm font-iter pb-1">Location</legend>
                    <div class="join">
                        <input
                            id="location-dvd"
                            type="radio"
                            name="location"
                            value="DVD"
                            class="sr-only"
                        >
                        <label
                            for="location-dvd"
                            class="btn btn-sm join-item rounded-l-md"
                        >
                            DVD
                        </label>
                        <input
                            id="location-hdd"
                            type="radio"
                            name="location"
                            value="HDD"
                            class="sr-only"
                        >
                        <label
                            for="location-hdd"
                            class="btn btn-sm join-item rounded-r-md"
                        >
                            HDD
                        </label>
                    </div>
                </fieldset>
                <input
                    name="poster_path"
                    placeholder="/jennflix/posters/firefly.jpg"
                    class="input input-bordered w-full"
                >
                <div class="flex items-center justify-between gap-3 pt-2">
                    <a
                        href="/jennflix"
                        class="btn btn-sm btn-outline border-gray-400 text-gray-600 rounded-md uppercase w-auto px-4"
                    >
                        Cancel
                    </a>
                    <button
                        type="submit"
                        class="btn btn-sm bg-red-600 text-white rounded-md uppercase self-end w-auto px-4"
                    >
                        Add
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
